h2, h3
  text-transform: uppercase
  color: $yellow

p
  color: $light_gray
  font-size: 1.2em


.wraper
  text-align: center
  padding: 1em 0
  +grid-column(12)

.meu-rio-and-counter
  margin-bottom: 2em
  .meu-rio, .counter
    text-transform: uppercase
    color: $light_gray
    +grid-column(6)

  .meu-rio
    img
      margin-right: 2em

  .counter
    .digits-and-label
      float: right
      .digits, .digits-label
        float: left
      .digits-label
        padding-top: 2px
      .digits
        margin-right: .5em
        span
          color: $yellow
          background: asset-url("counter_bg.png") no-repeat
          width: 30px
          height: 35px
          font-size: 1.5em
          line-height: 1.5em
          text-align: center
          display: inline-block

form
  background: $yellow
  padding: 1em 0
  margin-bottom: 1em
  +grid-column(12)
  .button
    width: 100%

.first_name_field, .last_name_field, .email_field, .submit_button
  +grid-column(3)
  input
    margin: 0
  &.error
    input
      border-color: red

.submit_button
  input
    padding: .5em

.title-left
  text-align: right
  +grid-column(7)

.box-right
  +grid-column(5)

.box
  background: $dark_gray
  color: $yellow
  text-align: left
  padding: 1.5em
  font-size: 1.2em
  line-height: 1.2em


[class^="slide-"]
  padding: 4em 0

#facebox
  .popup
    .share
      width: 700px
      text-align: center
      h2
        font-size: 1.5em
        color: $light_gray
      h3
        font-size: 1.2em
        color: $light_gray
      p
        font-size: 1em
      .button
        margin: 0
        background: $facebook_blue
    .email
      width: 700px
    .close_image
      &:last-child
        display: none

#email, #share
  display: none

.highlight
  color: $yellow

.slide-1
  background: asset-url("slide_1_bg.png") center top
  padding-top: 1em

.slide-2
  background: asset-url("slide_2_bg.png") top center
  h2, h3
    color: $white
  h3
    text-align: center
  .box-right
    margin-top: 5px
  .bottom-text
    margin-top: 5em
    +grid-column(8, true, true)

.slide-3
  background: asset-url("slide_3_bg.png") bottom center
  text-align: center

.slide-4
  background: asset-url("slide_4_bg.png") bottom center
  h2
    color: white
  .left-text
    +grid-column(4)
    text-align: right
  .box-right
    +grid-column(8)

.slide-5
  background: asset-url("slide_5_bg.png") center center
  h2, h3
    color: white
  .h2-left
    +grid-column(7)
    text-align: right
  .box-left
    +grid-column(7)
    .box
      text-align: right
      strong
        color: white
  .h3-right
    +grid-column(5)
    text-align: left

.slide-6
  background: asset-url("slide_6_bg.png") center center

.slide-7
  background: asset-url("slide_7_bg.png") center center

.slide-8
  background: asset-url("slide_8_bg.png") center center

.slide-9
  background: $green


@media (max-width: 900px)
  .slide-2
    .title-left
      text-align: center
    .title-left, .box-right, .bottom-text
      +grid-column(12)

  .slide-4
    .left-text
      text-align: center
    .left-text, .box-right
      +grid-column(12)

  .slide-5
    .h2-left
      +grid-column(12)
      text-align: center
      margin-bottom: 1em
    .box-left
      +grid-column(12)
      margin-bottom: 1em
      .box
        text-align: left
        font-size: 1em
    .h3-right
      +grid-column(12)
      text-align: center


@media (max-width: 750px)
  form
    +grid-column(6, true, true)
  .first_name_field, .last_name_field, .email_field, .submit_button
    +grid-column(12)
  .first_name_field, .last_name_field, .email_field
    margin-bottom: 1em

@media (max-width: 500px)
  form
    +grid-column(8, true, true)
  
  .meu-rio-and-counter
    .meu-rio
      margin-bottom: 1em
    .meu-rio, .counter
      +grid-column(12)
      .digits-and-label
        float: left
