p Olá #{@squeeze.first_name},

p Depois de 38 mil mensagens, conseguimos derrotar o deputado Eduardo Cunha e seus aliados, e o texto do Marco Civil foi aprovado preservando os seus 3 principais pilares.

p Agora, precisamos fazer a mesma pressão no Senado. Os senadores precisam entender que a neutralidade da rede, a privacidade dos usuários e a liberdade de expressão são inegociáveis.

p Use a internet para salvar a internet! Compartilhe agora no facebook e twitter: #{link_to "http://salveainternet.meurio.org.br/", "http://salveainternet.meurio.org.br/"}

p Rodrigo, Matisse, João, Ale e equipe da Rede Meu Rio
