p Olá #{@squeeze.first_name},

p Estamos comprando uma luta ferrenha contra os gigantes das telecomunicações. Parece difícil, mas se você não falar nada, quem vai?

p A votação do Marco Civil pode acontecer a qualquer momento e o Congresso precisa saber que a neutralidade na rede é inegociável!

p Use a internet para salvar a internet! Compartilhe agora no facebook e twitter: #{link_to "http://salveainternet.meurio.org.br/", "http://salveainternet.meurio.org.br/"}

p Rodrigo, Miguel, Alessandra e equipe da Rede Meu Rio
