p Exmo. Sr. Deputado,

p Na terça-feira, o Sr. participará da votação do Marco Civil da Internet. 

p Sabemos que o deputado Eduardo Cunha está liderando um bloco para derrubar a neutralidade da rede e favorecer os interesses das grandes empresas de telecomunicações.  

p Agora, ele conseguiu organizar um grupo de deputados para derrubar o artigo 20, que determina que a retirada do ar de conteúdos somente ocorrerá com determinação judicial. Se ele for retirado do projeto, os provedores e propagadores de conteúdo ficariam vulneráveis diante da insegurança jurídica criada, e nossa liberdade de expressão na rede, seriamente afetada. 

p Isso seria um retrocesso absurdo!

p Agora, o Sr. terá que escolher se quer defender o interesse do internauta ou se prefere ser parte do bloco que quer acabar com a liberdade na internet para favorecer as teles! 

p Para o povo brasileiro, a neutralidade da rede, a privacidade dos usuários e a liberdade de expressão na Internet são inegociáveis! 

p Estamos de olho!

p Responda publicamente a essa demanda enviando um e-mail para resposta@paneladepressao.org.br
