p Exmo. Sr(a) Senador(a),

p No dia 25 de março, a Câmara dos Deputados aprovou o texto do Marco Civil da Internet. Apesar de uma forte pressão das empresas de telecomunicação, representadas pelo deputado Eduardo Cunha, que queriam alterar o texto para atender seus próprios interesses, o texto foi aprovado como deveria. Assim, e os três pilares principais do texto, elaborado de forma colaborativa pela sociedade civil, foram mantidos: neutralidade da rede, liberdade de expressão e privacidade dos usuários.

p Agora, o projeto começa a tramitar no Senado. Esperamos que o sr.(a) vote a favor do texto que foi aprovado pelos deputados, já que ele representa uma garantia inegável para a liberdade dos usuários na internet brasileira. Aproveito para lembrar aos senhores que a neutralidade da rede, liberdade de expressão e privacidade dos usuários não são negociáveis.

p O senador que tentar alterar um desses 3 pontos estará comprando uma briga com a sociedade inteira em ano de eleição.

p Estamos de olho!

p Responda publicamente a essa demanda enviando um e-mail para resposta@paneladepressao.org.br
